.alert {
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 18;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-yellow {
  background: #ffe79e;
  color: #212121;
}

.alert-green {
  background: #219653;
  color: #ffffff;
}

.alert-red {
  background-color: #eb5757;
  color: #ffffff;
}
