.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 0.75rem;
}

.input {
  height: 56px;
  border: 0;
  background: #f4f4f4;
  border-radius: 8px;
  padding: 0 16px;
}
