.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 0.5rem;
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.05em;
  color: #333333;
  margin-bottom: 2.5rem;
}
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form button {
  margin-top: auto;
}
